@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600;700&display=swap');

@import 'tw-animate-css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

@config "../tailwind.config.ts";

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@font-face {
  font-family: 'Foglihten';
  src: url('/fonts/Foglihten-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Foglihten Regular';
  src: url('/fonts/Foglihten-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Foglihten Capslock';
  src: url('/fonts/FoglihtenCapslock.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Regular';
  src: url('/fonts/Cinzel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cinzel Bold';
  src: url('/fonts/Cinzel-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cinzel ExtraBold';
  src: url('/fonts/Cinzel-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ms Madi';
  src: url('/fonts/MsMadi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant Upright Light';
  src: url('/fonts/CormorantUpright-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Upright Regular';
  src: url('/fonts/CormorantUpright-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Upright Medium';
  src: url('/fonts/CormorantUpright-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Upright SemiBold';
  src: url('/fonts/CormorantUpright-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Upright Bold';
  src: url('/fonts/CormorantUpright-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Elsie Black';
  src: url('/fonts/Elsie-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Elsie Regular';
  src: url('/fonts/Elsie-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/Bodoni/BodoniModa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/Bodoni/BodoniModa-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/Bodoni/BodoniModa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/Bodoni/BodoniModa-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/Bodoni/BodoniModa-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni Moda';
  src: url('/fonts/Bodoni/BodoniModa-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Emotional Use';
  src: url('/fonts/Emotional-Use.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oblata-Regular';
  src: url('/fonts/Oblata-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playball';
  src: url('/fonts/Playball.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon Bold';
  src: url('/fonts/Libre-Caslon/LibreCaslonText-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon Italic';
  src: url('/fonts/Libre-Caslon/LibreCaslonText-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon Regular';
  src: url('/fonts/Libre-Caslon/LibreCaslonText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Caslon';
  src: url('/fonts/Libre-Caslon/LibreCaslonText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fleischman';
  src: url('/fonts/Fleischman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Questrial';
  src: url('/fonts/Questrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rouge Script';
  src: url('/fonts/RougeScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Uchen Regular';
  src: url('/fonts/Uchen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oleo Script Regular';
  src: url('/fonts/Oleo-Script/OleoScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Oleo Script Bold';
  src: url('/fonts/Oleo-Script/OleoScript-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Oleo Script Swash Regular';
  src: url('fonts/Oleo-Script-Swash-Caps/OleoScriptSwashCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oleo Script Swash Regulars';
  src: url('fonts/Oleo-Script-Swash-Caps/OleoScriptSwashCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oleo Script Swash Bold';
  src: url('/fonts/Oleo-Script-Swash-Caps/OleoScriptSwashCaps-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gentium Plus Regular';
  src: url('/fonts/Gentium-Plus/GentiumPlus-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gentium Plus Bold';
  src: url('/fonts/Gentium-Plus/GentiumPlus-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gentium Plus Italic';
  src: url('/fonts/Gentium-Plus/GentiumPlus-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Gentium Plus Bold Italic';
  src: url('/fonts/Gentium-Plus/GentiumPlus-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Jomolhari';
  src: url('/fonts/Jomolhari-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Baskervville';
  src: url('/fonts/Baskervville/Baskervville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baskervville Bold';
  src: url('/fonts/Baskervville/Baskervville-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Baskervville Bold Italic';
  src: url('/fonts/Baskervville/Baskervville-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Baskervville Italic';
  src: url('/fonts/Baskervville/Baskervville-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Baskervville Medium';
  src: url('/fonts/Baskervville/Baskervville-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baskervville Medium Italic';
  src: url('/fonts/Baskervville/Baskervville-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Baskervville Regular';
  src: url('/fonts/Baskervville/Baskervville-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baskervville Semi Bold';
  src: url('/fonts/Baskervville/Baskervville-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Baskervville Semi Bold Italic';
  src: url('/fonts/Baskervville/Baskervville-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Cormorant Garamond Font Family */
@font-face {
  font-family: 'Cormorant Garamond Light';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond Light Italic';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond Regular';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond Italic';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond Medium';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond Medium Italic';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond SemiBold';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond SemiBold Italic';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond Bold';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Garamond Bold Italic';
  src: url('/fonts/Cormorant-Garamond/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Tangerine Font Family */
@font-face {
  font-family: 'Tangerine Regular';
  src: url('/fonts/Tangerine/Tangerine-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tangerine Bold';
  src: url('/fonts/Tangerine/Tangerine-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Cinzel Decorative Font Family */
@font-face {
  font-family: 'Cinzel Decorative';
  src: url('/fonts/Cinzel-Decorative/CinzelDecorative-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Decorative Regular';
  src: url('/fonts/Cinzel-Decorative/CinzelDecorative-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Decorative Bold';
  src: url('/fonts/Cinzel-Decorative/CinzelDecorative-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel Decorative Black';
  src: url('/fonts/Cinzel-Decorative/CinzelDecorative-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Zilla Slab Font Family */
@font-face {
  font-family: 'Zilla Slab Light';
  src: url('/fonts/Zilla-Slab/ZillaSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab Light Italic';
  src: url('/fonts/Zilla-Slab/ZillaSlab-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab Regular';
  src: url('/fonts/Zilla-Slab/ZillaSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab Italic';
  src: url('/fonts/Zilla-Slab/ZillaSlab-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab Medium';
  src: url('/fonts/Zilla-Slab/ZillaSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab Medium Italic';
  src: url('/fonts/Zilla-Slab/ZillaSlab-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab SemiBold';
  src: url('/fonts/Zilla-Slab/ZillaSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab SemiBold Italic';
  src: url('/fonts/Zilla-Slab/ZillaSlab-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Zilla Slab Bold';
  src: url('/fonts/Zilla-Slab/ZillaSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab Bold Italic';
  src: url('/fonts/Zilla-Slab/ZillaSlab-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Great Vibes Font Family */
@font-face {
  font-family: 'Great Vibes';
  src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Great Vibes Regular';
  src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Montaga Font Family */
@font-face {
  font-family: 'Montaga';
  src: url('/fonts/Montaga-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montaga Regular';
  src: url('/fonts/Montaga-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brittany';
  src: url('fonts/Brittany.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Abhaya Font Family */

@font-face {
  font-family: 'Abhaya Regular';
  src: url('fonts/Abhaya-Libre/AbhayaLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Medium';
  src: url('fonts/Abhaya-Libre/AbhayaLibre-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Semi Bold';
  src: url('fonts/Abhaya-Libre/AbhayaLibre-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Bold';
  src: url('fonts/Abhaya-Libre/AbhayaLibre-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abhaya Extra Bold';
  src: url('fonts/Abhaya-Libre/AbhayaLibre-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* HAHMLET FONT FAMILY */
@font-face {
  font-family: 'Hahmlet Regular';
  src: url('fonts/Hahmlet/Hahmlet-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hahmlet Black';
  src: url('fonts/Hahmlet/Hahmlet-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: black;
}

@font-face {
  font-family: 'Hahmlet Bold';
  src: url('fonts/Hahmlet/Hahmlet-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Hahmlet Extra Bold';
  src: url('fonts/Hahmlet/Hahmlet-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Hahmlet Extra Light';
  src: url('fonts/Hahmlet/Hahmlet-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hahmlet Light';
  src: url('fonts/Hahmlet/Hahmlet-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: light;
}

@font-face {
  font-family: 'Hahmlet Medium';
  src: url('fonts/Hahmlet/Hahmlet-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: medium;
}

@font-face {
  font-family: 'Hahmlet Semi Bold';
  src: url('fonts/Hahmlet/Hahmlet-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Hahmlet Thin';
  src: url('fonts/Hahmlet/Hahmlet-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Font Bacasime Antique */
@font-face {
  font-family: 'Bacasime Regular';
  src: url('fonts/BacasimeAntique-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Font Thankyou */
@font-face {
  font-family: 'Thank You Regular';
  src: url('fonts/Thankyou.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}